@charset "UTF-8";

@font-face {
    font-family: nanumgothic;
    src: url(../fonts/나눔고딕.ttf);
}
 
* { font-family: nanumgothic; }

img {
   vertical-align:middle;
}

#wrap { display: inline-block; width: calc(100% - 303px); height: calc(100% - 0px); position: absolute; right: 0px;}
#wrap .buttons { position:absolute;top:0;left:0;z-index:1000;padding:5px; }
#wrap .buttons .control-btn { margin:0 5px 5px 0; }
#wrap.section { margin: 0px 0px 0px 0px; }
#lnb { display: inline-block; margin-top: 0px; height: calc(100% - 0px); border: solid black 0px; position: absolute;}
.ui.vertical.accordion.menu { width: 300px; }
.ui.one.cards { width: 200px; margin: auto;}
.section { padding: 0px; }
.ui.toggle.checkbox {
  vertical-align: middle;
}
body { overflow:hidden; }
#mainContainer { padding: 1px; height: calc(100% - 70px); }
#cardContainer { overflow: auto; height: 300px; width: 100%; position: absolute; bottom: 0px; }
#map { width: calc(100% - 0px); height: calc(100% - 0px); }
.buttonGroup { margin-bottom: 0px; text-align: right; }
.accordionItem { margin-top: 5px; }
.ui.toggle.checkbox.floatR { float: right; }
.btn100px { width: 120px; text-align: center; }
.title.bold { font-weight: bold; }
.ui.blue.label { width: 100%; margin-top: 10px; padding: 12px 15px 12px 15px; }
#heaerContainer { height: 70px; line-height: 60px; vertical-align: middle; padding: 5px 15px 5px 15px; background-color: #558fed;}
#titleContainer { display: inline-block; float: left; }
#contents { height: 100%; position: relative;}
.ui.modal>.content>.image+.description { width: 100%; }
#cardContainer .ui.cards { margin: 0px; }
#cardContainer .ui.cards>.card>.content>.header:not(.ui) { font-size: 1.0em; }
#cardContainer .ui.cards>.card { margin: 2.5px 5px; }
.ui.icon.button { padding: 3px 3px 3px 3px; margin-left: 5px; }
.ui.medium.image { text-align: center; }
.ui.medium.image img { display: inline-block; }
.mapImageIcon { background: white; border: solid black 1px; padding: 5px; border-radius: 50%; }
.mapImageIcon.widePadding { background: #558fed; padding: 7px; border: solid black 1px; }
.circleBase {
  border-radius: 50%;
  behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}
.accordionItem .ui.label { font-weight: normal; }
.ui.inverted.button { font-size: 13px; }
#toggleLnb {
   background: #FFFFFF;
   display: inline-block;
   position: absolute;
   z-index: 100;
   top: 50%;
   padding: 10px 2px 10px 2px;
}

#toggleLnb img { margin-top: -3px; transform: rotate(180deg); width: 10px; cursor: pointer; }
    